{% extends "_layout.twig" %}

{% set posts = craft.entries().section('projects').all()%}

{% block content %}
<div class="content">
  <div class="grid">
    {% for post in posts %}
    {% if post.headImage|length %}
    {% set image = post.headImage.one()%}
      <div class="grid-item {{post.imageSize.value}}"><a class="prj-btn" href="{{post.url}}">
  <div class="prj-label"><h2>{{post.title}}</h2></div>
      <img alt="{{post.title}}" src="{{image.getUrl}}"></a>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}